body, html {
    margin: 0;
    height: 100%;
    font-family: 'Arial';
}

body {
    margin: 0;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
        "item1 item2 item3";

    justify-items: center;
    align-items: center;
}
.1container {
    grid-column-start: 1;

   
    border-radius: 1px;
    padding: 1em;
}

.1container{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.background {
    background-color: #0489B1 !important;
}
.weather-box{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Abel', sans-serif;
    animation-name: introduction;
    animation-duration: 2s;
    
   
}
.row1{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}
.weather-location{
   color: white;
    font-size: 50px;
}

.weather-icon {
    width: 100px;
    
}
.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.row2:hover .temp{
    color: #81BEF7;
}
.row2:hover .temp-type{
    color: #81BEF7;
}
.temp{
    color: white;
    font-size: 80px;
    cursor: pointer;
    pointer-events: auto;
    transition: color 1s;
}
.temp-type{
    color: #3EB9E6;
    font-size: 80px;
    cursor: pointer;
    transition: color 1s;
}
.weather-description{
    text-align: center;
    color: white;
}
.weather-days{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    color: #0489B1;
    font-size: 20px;

    width: 50%;
}
.block1, .block2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@keyframes introduction {
    0%{
        bottom: -320px;
        opacity: 0;
        
    }
    100%{
        
        opacity:1;
        bottom: 0px;
    }
}



@media screen and (max-width: 480px) {
    
    .row1{
        flex-direction: column;
    }
    .weather-location{
        font-size: 30px;
    }
    .made-by{
        display: none;
    }
    .block1{
        padding: 20px;
    }
    .block2{
        padding: 20px;
    }
    .weather-days{
        font-size: 16px;
    }
    .container{
        height: 130vh;
    }
}

#item1 {
    grid-area: item1;
    justify-self: center;     /* Aligns to the right */
    align-self: start;     /* Aligns to the top   */
}

#item2 {
    grid-area: item2;
    justify-self: center;  /* Aligns to the left    */
    align-self: start;      /* Aligns to the bottom  */
}
#item3 {
    grid-area: item3;
    justify-self: center;  /* We know this already */
    align-self: start;    /* We know this already */
}


.clock {
  width: 321px;
  height: 321px;
  background-color: #F0F0F0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  border: 16px solid #303030;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock::before {
  position: absolute;
  content: '';
  width: 330px;
  height: 330px;
  border: 6px solid #202020;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.nut {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #505050;
  border-radius: 50%;
}

.nut:before {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  background-color: #303030;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  z-index: 1;
}

.hour-mark {
  position: absolute;
  width: 1px;
  height: 35px;
  background-color: #404040;
}

.hour-mark-0 {
  transform: translateY(-132px);
}

.hour-mark-1 {
  transform: rotate(30deg) translateY(-132px);
}

.hour-mark-2 {
  transform: rotate(60deg) translateY(-132px);
}

.hour-mark-3 {
  transform: rotate(90deg) translateY(-132px);
}

.hour-mark-4 {
  transform: rotate(120deg) translateY(-132px);
}

.hour-mark-5 {
  transform: rotate(150deg) translateY(-132px);
}

.hour-mark-6 {
  transform: rotate(180deg) translateY(-132px);
}

.hour-mark-7 {
  transform: rotate(210deg) translateY(-132px);
}

.hour-mark-8 {
  transform: rotate(240deg) translateY(-132px);
}

.hour-mark-9 {
  transform: rotate(270deg) translateY(-132px);
}

.hour-mark-10 {
  transform: rotate(300deg) translateY(-132px);
}

.hour-mark-11 {
  transform: rotate(330deg) translateY(-132px);
}

.second-hand {
  position: absolute;
  width: 1px;
  height: 1px;
  transform: rotate(240deg);
}

.second-hand::before {
  position: absolute;
  content: '';
  width: 3px;
  height: 150px;
  background-color: #303030;
  left: -1px;
  top: -120px;
  border-radius: 1px;
}

.second-hand::after {
  position: absolute;
  content: '';
  width: 7px;
  height: 48px;
  background-color: #303030;
  left: -3px;
  top: 12px;
  border-radius: 3px;
}

.minute-hand {
  position: absolute;
  width: 1px;
  height: 1px;
  transform: rotate(120deg);
}

.minute-hand::before {
  position: absolute;
  content: '';
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 75px solid #303030;
  left: -3px;
  top: -100px;
  width: 1px;
  height: 1px;
}

.minute-hand::after {
  position: absolute;
  content: '';
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 25px solid #303030;
  left: -3px;
  top: -25px;
  width: 3px;
  height: 1px;
}

.hour-hand {
  position: absolute;
  width: 1px;
  height: 1px;
}

.hour-hand::before {
  position: absolute;
  content: '';
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 60px solid #303030;
  left: -3px;
  top: -80px;
  width: 1px;
  height: 1px;
}

.hour-hand::after {
  position: absolute;
  content: '';
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 20px solid #303030;
  left: -3px;
  top: -20px;
  width: 3px;
  height: 1px;
}